@if (NodeModel is not null)
{

    <ul class="list-group">
        <li class="list-group-item @(NodeModel.IsFile ? string.Empty : "collapse-toggle") @(IsSelected ? "selected": string.Empty)"
            id="@Id"
            @onmouseup="@OnClickedAsync">
            @for (var i = 0; i < NestedLevel; i++)
            {
                <span class="indent"></span>
            }
            <span class="list-group-item-content">
                @if (NodeModel.IsFile)
                {
                    <small><i class="fa mr-1 fa-fw"></i></small>
                    <small><i class="fa mr-1 fa-fw fa-file"></i></small>
                }
                else
                {
                    <small><i class="indicator mr-1 fa fa-fw fa-chevron-right"></i></small>
                    <small><i class="icon mr-1 fa fa-fw fa-folder"></i></small>
                }
                @NodeModel.Name
            </span>
        </li>

        @if (!NodeModel.IsFile && NodeModel.Children is { Count: > 0 })
        {
            <li class="list-group-item collapse-container collapse">
                @foreach (var node in NodeModel.Children)
                {
                    <Node NodeModel="@node" NestedLevel="@(NestedLevel+1)" OnClickCallback="@OnClickCallback"></Node>
                }
            </li>
        }

    </ul>
}